
@{
    ViewBag.Title = "Dodawator testowy";

}
<body style="background-color:lightgray">
    <div class="bg-info center" style="padding:20px">
        <form method="post" action="~/Home/Sum">
            <input autocomplete="off" maxlength="18" name="a"> + <input autocomplete="off" maxlength="18" name="b"> <button name="submit" class="btn btn-default" type="submit" value='Dodaj'>Dodaj</button>
        </form>
</div>
</body>

